body {
    background-color: #121212;
    color: White;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 25px;
    color: gold;
}
.video-js {
    border: 2px solid gold;
    border-radius: 10px;
}
